/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */
 


 .flash-notice {
  background-color: #28a745; /* This is a shade of green. You can adjust the color if needed. */
  color: white; /* Set text color to white for better visibility against green background */
  padding: 15px; /* Optional: Add some padding for better appearance */
  border-radius: 5px; /* Optional: Add rounded corners */
}

.flash-alert{
  background-color: #dc3545; /* This is a shade of green. You can adjust the color if needed. */
  color: white; /* Set text color to white for better visibility against green background */
  padding: 15px; /* Optional: Add some padding for better appearance */
  border-radius: 5px; /* Optional: Add rounded corners */
}